<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>
    Welcome to <%= htmlWebpackPlugin.options.title %> NG
  </title>
  <% if (!htmlWebpackPlugin.options.MODE_DEV_SERVER) { %>
    <link
      href="<%= webpackConfig.output.publicPath + webpack.assetsByChunkName['spastyle'][1] %>"
      rel="stylesheet">
    <% } %>

    <!-- Legacy JS launcher. -->
    <script type="text/javascript">


function pathLoaded(sourceText, path) {
  var dom = document.getElementById('monarch-content-fragment');
  if (dom) {
    dom.innerHTML = sourceText;
    var launchablesScript = document.getElementById('monarch-launchables');
    var text = launchablesScript.text;
    if (text.indexOf('/* monarch-launchable-safety-check */') === 0) {
      eval(text);
    }
  }
}

function loadPathContent(path) {
  var oReq = new XMLHttpRequest();
  oReq.addEventListener('load', function () {
    pathLoaded(this.responseText, path);
  });

  console.log('loadPathContent', path);
  oReq.open('GET', path);
  oReq.send();
}

function loaderBody() {
  console.log('loaderBody()');
  InitMonarchBBOPHandler();
  InitMonarchBBOPLinker();
  InitMonarchBBOPWidgetBrowse();
  InitMonarchBBOPWidgetDisplay();
  InitMonarchPage();
  InitTabs();
  InitFacetFilters();
}
    </script>
</head>

<body
  id="monarch-body"
  onload="loaderBody()">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" onclick="loadPathContent('/?spa=1')">
                <img class="branding-logo pull-left"
                     src="/image/logo.png"
                     alt="Monarch Initiative logo"
                     title="Monarch Initiative front page"/>
                <span class="pull-right">Monarch</span>
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="icon-th-large"></i>Browse <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="#" onclick="loadPathContent('/disease?spa=1')">Diseases SPA</a></li>
                  <li><a href="/phenotype">Phenotypes</a></li>
                  <li><a href="/gene">Genes</a></li>
                  <li><a href="/model">Models</a></li>
              </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Here</span></a></li>
          <li><a href="#">Everywhere</a></li>
          <li><a href="#">There</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <br>
  <br>
  <br>

  <h1>Welcome to the SPA</h1>
  <p>This is an experiment in adding SPA (Single-Page Application) capabilities to the MonarchClassic application.</p>

  <div id="monarch-content-fragment">

  </div>
  <hr>
  <div class="babel">
    <p>
      <img src="<%= require('./assets/images/webpack-logo.png') %>" class="size-full aligncenter logo" alt="webpack-logo" />
    </p>
    <p class="require-ensure">
      Ever heard of <a href="https://webpack.js.org/guides/code-splitting-async/" title="Code splitting & import with webpack">code splitting into chunks</a> that you could <code>import()</code> on demand ?
      <br><span class="test-require-ensure">Just click here</span> to see an example.
    </p>
  </div>

  <footer>
    <h1>FOOTER</h1>
  </footer>
  <!-- keep the following lines -->
  <% if (!htmlWebpackPlugin.options.MODE_DEV_SERVER) { %>
    <script
      src="<%= webpackConfig.output.publicPath + (Object.prototype.toString.call(webpack.assetsByChunkName['spa']) === '[object Array]' ? webpack.assetsByChunkName['spa'][0] : webpack.assetsByChunkName['spa']) %>"></script>
  <% } %>

      <!-- Google Analytics
        Uncomment this and replace the secret codes below with GA codes for Monarch...
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41002835-1']);
      _gaq.push(['_setDomainName', 'topheman.github.io']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
      </script>
       -->
</body>

</html>
<%= htmlWebpackPlugin.options.BANNER_HTML %>