<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>
    Welcome to <%= htmlWebpackPlugin.options.title %>
  </title>
  <% if (!htmlWebpackPlugin.options.MODE_DEV_SERVER) { %>
    <link
      href="<%= webpackConfig.output.publicPath + (Object.prototype.toString.call(webpack.assetsByChunkName['app']) === '[object Array]' ? webpack.assetsByChunkName['app'][1] : webpack.assetsByChunkName['app']) %>"
      rel="stylesheet">
    <% } %>

    <style>
    body.monarch-cloak {
      display: none;
    }
    </style>

    <script
      type="text/javascript"
      src="/configuration/server.js">
    </script>

    <!-- Legacy JS launcher. -->
    <script type="text/javascript">


function loaderBody() {
  var bodyDOM = document.getElementsByTagName('body')[0];
  bodyDOM.classList.remove('monarch-cloak');
  InitMonarchBBOPHandler();
  InitMonarchBBOPLinker();
  InitMonarchBBOPWidgetBrowse();
  InitMonarchBBOPWidgetDisplay();
  // InitMonarchPage();
  // InitTabs();
  // InitFacetFilters();
}
    </script>
</head>

<body
  id="monarch-body"
  class="monarch-cloak"
  onload="loaderBody()">

  <div
    id="app">
    LOADING
  </div>

  <div class="dynamic-import-test">
    <p class="require-ensure">
      <span class="test-require-ensure">
        <img
          src="<%= require('./assets/images/monarch-logo.png') %>"
          class="fidget-spinner left"
          alt="monarch-logo"/>
        <img
          src="<%= require('./assets/images/monarch-logo.png') %>"
          class="fidget-spinner right"
          alt="monarch-logo"/>
      </span>
    </p>
  </div>

  <!-- keep the following lines -->
  <% if (!htmlWebpackPlugin.options.MODE_DEV_SERVER) { %>
    <script
      src="<%= webpackConfig.output.publicPath + (Object.prototype.toString.call(webpack.assetsByChunkName['app']) === '[object Array]' ? webpack.assetsByChunkName['app'][0] : webpack.assetsByChunkName['app']) %>"></script>
  <% } %>

      <!-- Google Analytics
        Uncomment this and replace the secret codes below with GA codes for Monarch...
      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41002835-1']);
      _gaq.push(['_setDomainName', 'topheman.github.io']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
      </script>
       -->


</body>

</html>
<%= htmlWebpackPlugin.options.BANNER_HTML %>

